.Filter {
  margin: 16px 0;
  width: 22%;
}

.Filter form {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.Filter form input {
  height: 30px;
  padding: 4px 10px;
  border: 0;
  border-radius: 8px;
}

.Sub {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 30%;
  font-weight: bold;
  background-color: #1DA1F2;
}