@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

.mainTitle {
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #003049;
  color: #fcbf49;
}
