@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

.Pages {
  font-family: 'Playfair Display', serif;
  background-color: #003049;
  color: #fcbf49;
  padding: 20px;

  &__users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }

  &__posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
}
