.SingleFriend {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.SingleFriend img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: goldenrod;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.SingleFriend_text {
  margin: 14px 2px;
  font-size: 1rem;
}

.SingleFriend_text h4 {
  color: #657786;
  font-size: 0.8rem;
}

@media (min-width: 800px) {
  .SingleFriend img {
    width: 100px;
    height: 100px;
  }

  .SingleFriend_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
